{% extends "backend/base_ui.html" %} {% load static %} {% load custom_filters %}
{% block konten %}

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Edit User</h5>

    <!-- General Form Elements -->

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="row mb-3">
        <label for="username" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control form-control-lg rounded-3"
            id="username"
            name="username"
            value="{{ profile.user.username }}"
            required
          />
        </div>
      </div>
      <div class="row mb-3">
        <label for="first_name" class="col-sm-2 col-form-label"
          >First name</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control form-control-lg rounded-3"
            id="first_name"
            name="first_name"
            value="{{ profile.user.first_name }}"
            required
          />
        </div>
      </div>
      <div class="row mb-3">
        <label for="lastname" class="col-sm-2 col-form-label">Last name</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control form-control-lg rounded-3"
            id="last_name"
            name="last_name"
            value="{{ profile.user.last_name }}"
            required
          />
        </div>
      </div>
      <div class="row mb-3">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input
            type="email"
            class="form-control form-control-lg rounded-3"
            id="email"
            name="email"
            value="{{ profile.user.email }}"
            required
          />
        </div>
      </div>
      <div class="row mb-3">
        <label for="nik" class="col-sm-2 col-form-label">NIK</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control form-control-lg rounded-3"
            id="nik"
            name="nik"
            value="{{ profile.nik }}"
            required
          />
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputNumber" class="col-sm-2 col-form-label"
          >Upload KTP</label
        >
        <div class="col-sm-10">
          <input
            type="file"
            class="form-control form-control-lg rounded-3"
            id="ktp"
            name="ktp"
          />
          <div class="d-flex gap-3">
            <p>file yang di upload :</p>
            <a href="{{ profile.ktp }}">{{ profile.ktp|filename }}</a>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Submit Here</label>
        <div class="col-sm-10">
          <a href="{% url 'daftar_user' %}">
            <button class="btn btn-secondary">Cancel</button>
          </a>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>

    <!-- End General Form Elements -->
  </div>
</div>
{% endblock konten %}
