{% extends "backend/base_ui.html" %} {% load static %} {% load custom_filters %}
{% block konten %}

<div class="card">
  <div class="card-body">
    <div>
      <div class="pagetitle mt-3">
        <h1>Pengumuman</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'dashboard' %}">Home</a>
            </li>
            <li class="breadcrumb-item active">Pengumuman</li>
          </ol>
        </nav>
      </div>
      {% if value %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pengumuman</h5>

          <!-- General Form Elements -->

          <form
            class="g-5"
            method="post"
            action="{% url 'edit_pengumuman' value.id %}"
            enctype="multipart/form-data"
          >
            {% csrf_token %}
            <div class="col-12">
              <label for="inputJudul" class="form-label">Judul</label>
              <input
                type="text"
                class="form-control"
                id="inputJudul"
                value="{{ value.judul }}"
                name="inputJudul"
              />
            </div>
            <div class="col-12">
              <label for="inputKonten" class="form-label">Konten</label>

              <textarea name="inputKonten">{{ value.konten | safe }}"</textarea>
            </div>
            <div class="row mb-3">
              <label for="inputNumber" class="form-label">Upload gambar</label>
              <div class="col-sm-10">
                <input
                  class="form-control"
                  type="file"
                  id="formFile"
                  name="inputGambar"
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-10 gap-5">
                <a href="{% url 'pengumuman' %}">
                  <button class="btn btn-secondary">Cancel</button>
                </a>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>

          <!-- End General Form Elements -->
        </div>
      </div>
      {% else %}
      <div class="container-fluid">
        <div class="d-flex justify-content-end mb-3">
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#formModal"
          >
            Tambahkan pengumuman
          </button>
        </div>
        <div class="table-responsive">
          <table class="table datatable">
            <thead>
              <tr>
                <th>Judul</th>
                <th>Konten</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for pengumuman in annc %}

              <tr>
                <td>
                  <div
                    style="
                      display: -webkit-box;
                      -webkit-box-orient: vertical;
                      -webkit-line-clamp: 1;
                      line-clamp: 1;
                      overflow: hidden;
                      overflow-wrap: break-word;
                      word-wrap: break-word;
                      hyphens: auto;
                      max-width: 200px;
                    "
                  >
                    <p>{{ pengumuman.judul }}</p>
                  </div>
                </td>
                <td>
                  <div
                    style="
                      display: -webkit-box;
                      -webkit-box-orient: vertical;
                      -webkit-line-clamp: 1;
                      line-clamp: 1;
                      overflow: hidden;
                      overflow-wrap: break-word;
                      word-wrap: break-word;
                      hyphens: auto;
                      max-width: 200px;
                    "
                  >
                    <p>{{ pengumuman.konten|striptags }}</p>
                  </div>
                </td>

                <td class="text-center">
                  <!-- Btn-group untuk aksi -->
                  <div
                    class="btn-group gap-3"
                    role="group"
                    aria-label="Action buttons"
                  >
                    <a
                      href="{% url 'edit_pengumuman' pengumuman.id %}"
                      class="text-decoration-none"
                    >
                      <button
                        type="button"
                        class="btn btn-warning btn-sm rounded-3"
                      >
                        Edit
                      </button>
                    </a>
                    <a
                      href="{% url 'delete_pengumuman' pengumuman.id %}"
                      class="text-decoration-none"
                    >
                      <button
                        type="button"
                        class="btn btn-danger btn-sm rounded-3"
                      >
                        Delete
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}

      <div
        class="modal fade"
        id="formModal"
        tabindex="-1"
        aria-labelledby="formModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="formModalLabel">
                Tambahkan pengumuman
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Pengumuman</h5>

                  <!-- General Form Elements -->

                  <form class="g-5" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-12">
                      <label for="inputJudul" class="form-label">Judul</label>
                      <input
                        type="text"
                        class="form-control"
                        id="inputJudul"
                        name="inputJudul"
                      />
                    </div>
                    <div class="col-12">
                      <label for="inputKonten" class="form-label">Konten</label>

                      <textarea name="inputKonten"></textarea>
                    </div>
                    <div class="row mb-3">
                      <label for="inputNumber" class="form-label"
                        >Upload gambar</label
                      >
                      <div class="col-sm-10">
                        <input
                          class="form-control"
                          type="file"
                          id="formFile"
                          name="inputGambar"
                          required
                        />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label class="col-sm-2 col-form-label">Submit Here</label>
                      <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">
                          Submit
                        </button>
                      </div>
                    </div>
                  </form>

                  <!-- End General Form Elements -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock konten %}
