{% extends "backend/base_ui.html" %} {% load static %} {% load custom_filters %}
{% block konten %}

<div class="pagetitle">
  <h1>Profile</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
      <li class="breadcrumb-item">Users</li>
      <li class="breadcrumb-item active">Profile</li>
    </ol>
  </nav>
</div>
<!-- End Page Title -->

<section class="section profile">
  <div class="row">
    <div class="col-xl-4">
      <div class="card">
        <div
          class="card-body profile-card pt-4 d-flex flex-column align-items-center"
        >
        {% if user.is_superuser %}
        <img src="{% static "backend/img/orang.png" %} " alt="Profile"
        class="rounded-circle" />
        {% else %}
        <img src="{% static "backend/img/family.png" %} " alt="Profile"
        class="rounded-circle" />

        {% endif %}
         
          <h2>{{profile.user.first_name}} {{profile.user.last_name}}</h2>
          {% if user.is_superuser %}
          <h3>Admin/Operator</h3>
          {% else %}

          <h3>Warga</h3>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-xl-8">
      <div class="card">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered">
            <li class="nav-item">
              <button
                class="nav-link active"
                data-bs-toggle="tab"
                data-bs-target="#profile-overview"
              >
                Overview
              </button>
            </li>
          </ul>
          <div class="tab-content pt-2">
            <div
              class="tab-pane fade show active profile-overview"
              id="profile-overview"
            >
              <h5 class="card-title">Profile Details</h5>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Username</div>
                <div class="col-lg-9 col-md-8">{{profile.user.username}}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">First name</div>
                <div class="col-lg-9 col-md-8">{{profile.user.first_name}}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Last name</div>
                <div class="col-lg-9 col-md-8">{{profile.user.last_name}}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Email</div>
                <div class="col-lg-9 col-md-8">{{profile.user.email}}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">NIK</div>
                <div class="col-lg-9 col-md-8">{{profile.nik}}</div>
              </div>
            </div>
          </div>
          <!-- End Bordered Tabs -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End #main -->
{% endblock konten %}
